.fullscreen-button {
  position: absolute;
  top: 85px;
  left: 11px;
  z-index: 999;
  border: 2px solid #c5c7bf;
}

.fullscreen-button button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border: none;
  background: white;
}

.fullscreen-button button span {
  text-align: center;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #494a48;
  width: 100%;
}
